{% extends "layout.html" %}

{% block title %}
    About
{% endblock %}

{% block main %}
    <div class="pt-5 px-4 container-fluid-sm">
        <h1 class="display-3 portrait">About KPOP NextBigSound</h1>
        <h1 class="display-5 landscape">About KPOP NextBigSound</h1>
        <p class="lead">Get to know about KPOP Next BigSound, the first and currently the only active <br>data chart compiler for KPOP Artists' Social Metrics
        </p>
        
        <div class="media border p-3 my-5 rounded maxed mx-auto">
            <div class="media-body">
                <h4>What is <small><i>Next Big Sound?</i></small></h4>
                <p>Next Big Sound (NBS) is a New York-based company which provides analytics for online music. The company analyses the popularity of musicians in social networks, streaming services, and radio. The company was acquired by Pandora Radio in May 2015 (Wikipedia).</p>
                <br>
                <p>
                    Next Big Sound's website was also the primary data source of Billboard's prestigous Weekly Social 50 Chart before it halted. Because of the increasing demand for charts
                    in the community of KPOP pushed me to create a data chart account on Twitter (<a href="http://www.twitter.com/k_nextbigsound">
                    @k_nextbigsound</a>) and published KPOP exclusive charts there. 
                </p>
            </div>
        </div>
        
        <div class="media border p-3 my-5 rounded maxed mx-auto">
            <div class="media-body">
                <h4>What is <small><i>Social Metrics Index?</i></small></h4>
                <p>
                    Social Metrics Index is the aggregate of the raw engagements of KPOP artists on popular social media platforms. This includes <a href="http://twitter.com">Twitter</a> mentions, retweets and followers as well as <a href="http://facebook.com">Facebook</a>
                    page likes and <a href="http://en.wikipedia.org">Wikipedia</a> page views. These data are all compiled by <a href="https://www.nextbigsound.com">nextbigsound.com</a>
                </p>
            </div>
        </div>
    </div>
    
    <div class="media border p-3 my-5 rounded maxed mx-auto">
            <div class="media-body">
                <h4>What is <small><i>Combined Chart Points?</i></small></h4>
                <p>
                    Combined Chart Points is the accumulated of the ranked engagement score of KPOP artists on popular social media platforms. This includes <a href="http://twitter.com">Twitter</a> mentions, retweets and followers as well as <a href="http://facebook.com">Facebook</a>
                    page likes and <a href="http://en.wikipedia.org">Wikipedia</a> page views. These data are all weighted by <a href="https://www.twitter.com/k_nextbigsound">@k_nextbigsound</a>
                </p>
                <p>
                    Each data chart: <a href="http://twitter.com">Twitter</a> mentions, retweets, followers; <a href="http://facebook.com">Facebook</a>,
                    page likes; and <a href="http://en.wikipedia.org">Wikipedia</a> page views. These data are all tallied by <a href="https://www.twitter.com/k_nextbigsound">@k_nextbigsound</a>
                    In this chart, every chart have equal strength in determining the artists' social score.
                </p>
            </div>
        </div>
    </div>
    
    <div class="media border p-3 my-5 rounded maxed mx-auto">
            <div class="media-body">
                <h4>What is <small><i>Summary Index?</i></small></h4>
                <p>
                    The two mentioned charts above both measure the social performance of a KPOP artist although they differ in methods.
                    This summary index aims to have a central measure to describe the overall performance of te artist based on the two charts.
                    This index is computed by dividing the data of an artist to the sum of all data, giving their percentage share of te results.
                </p>
            </div>
        </div>
    </div>
{% endblock %}