{% extends "layout.html" %}

{% block title %}
    Chart Summary
{% endblock %}

{% block main %}
    <div class="pt-5 px-4 container-fluid-sm">
        <h1 class="display-3 portrait">2021 Social Chart Summary</h1>
        <h1 class="display-5 landscape">2021 Social Chart Summary</h1>
        <p class="lead">This is the summary of the performances of KPOP Artsists on <a href="https://www.nextbigsound.com">nextbigsound.com</a>, a data analytics website. <br></p>
        <p>Data exclusively for Korean artists were personally compiled by Team <b>TEN BILLION POINTS then published</b> <br>
        the analyzed data on a Twitter data chart account <a href="https://www.twitter.com/k_nextbigsound">@k_nextbigsound</a> weekly.
        </p>
    </div>
    <form action="/index" method="get">
        <div class="mb-3 form-group">
            <select class="fselect mx-auto w-auto" name="sort">
                <option disabled selected>Sort by</option>
                <option value="artist">KPOP Artist</option>
                <option value="smi">Social Metrics</option>
                <option value="cmb">CMB Cumulative Points</option>
                <option value="ind">Index</option>
            </select>
        </div>
        <button class="btn btn-primary" type="submit">Sort</button>
    </form>
    <div id="summary" class="pt-3 pb-5 m-5">
        <table class="table table-striped table-bordered table-sm table-hover thead-light table-responsive-sm" cellspacing="0">
            <thead>
                <tr>
                    <th class="text-start">#</th>
                    <th class="text-start text-left artist-{{ sort }}">KPOP Artist</th>
                    <th class="text-end smi-{{ sort }}">Social Metrics</th>
                    <th class="text-end cmb-{{ sort }}">CMB Cumulative Points</th>
                    <th class="text-end else-{{ sort }}">Index</th>
                </tr>
            </thead>
           <tbody>
                {% for social in socials %}
                    <tr>
                        <td class="text-start">{{ loop.index }}</td>
                        <td class="text-start text-left artist-{{ sort }}{{ loop.index % 2}}">{{ social["artist"] }}</td>
                        <td class="text-end smi-{{ sort }}{{ loop.index % 2}}">{{ social["smi"] | num }}</td>
                        <td class="text-end cmb-{{ sort }}{{ loop.index % 2}}">{{ social["cmb"] | num }}</td>
                        <td class="text-end else-{{ sort }}{{ loop.index % 2}}">{{ social["ind"] | usd }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>


    <h3>Brief Info</h3>
    <div class="accordion container pt-1 pb-5" id="accordionExample">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h2 class="mb-0 bolden">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                       <span class="bolden">SMI - Social Metrics Index</span>
                    </button>
                </h2>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                    <p class="lead">This chart is measures the <b><u>raw</u></b> engagements of KPOP artists on popular social media platforms.
                    <p>This includes <a href="http://twitter.com">Twitter</a> mentions, retweets and followers as well as <a href="http://facebook.com">Facebook</a>
                    page likes <br> and <a href="http://en.wikipedia.org">Wikipedia</a> page views. These data are all compiled by <a href="https://www.nextbigsound.com">nextbigsound.com</a></p>
                    </p>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header" id="headingTwo">
                <h2 class="mb-0 bolden">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        <span class="bolden">CMB - Combined Chart</span>
                    </button>
                </h2>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">
                    <p class="lead">This chart is measures the <b><u>weighted</u></b> performance of KPOP artists on popular social media platforms.
                    <p>This includes <a href="http://twitter.com">Twitter</a> mentions, retweets and followers as well as <a href="http://facebook.com">Facebook</a>
                    page likes <br> and <a href="http://en.wikipedia.org">Wikipedia</a> page views. These data are all compiled by <a href="https://www.nextbigsound.com">nextbigsound.com</a></p>
                    </p>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header" id="headingThree">
                <h2 class="mb-0 bolden">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        <span class="bolden">Summary Index Score</span>
                    </button>
                </h2>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">
                    <p>
                        The two mentioned charts above both measure the social performance of a KPOP artist although they differ in methods.
                        This summary index aims to have a central measure to describe the overall performance of te artist based on the two charts.
                        This index is computed by dividing the data of an artist to the sum of all data, giving their percentage share of te results.
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}